@media only screen and (max-width: 768px) {
  .clear {
    clear: both;
  }
  /* NAV BAR RESPONSIVE */
  .nav-bar {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 78px;
  }
  .nav-logo {
    display: flex;
    flex-flow: row nowrap;
    width: 106px;
    height: 48px;
    background: #FF4422;
    justify-content: center;
    background: linear-gradient(130deg, rgba(204,0,149,1) 0%, rgba(204,0,149,1) 17%, rgba(255,0,0,1) 100%);
  }
  .nav-logo img {
    width: 65%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
  }
  .nav-line1 {
    display: none;
  }
  .nav-line2 {
    display: none;
  }
  .nav-search-responsive {
    width: 48px;
    height: 48px;
    display: flex;
    position: absolute;
    border-left: .5px solid #EEEEEE;
    border-right: .5px solid #EEEEEE;
    right: 0;
    color: #AAAAAA;
    font-size: 1em;
    text-align: center;
  }
  .nav-search-icon i {
    display: flex;
    flex-flow: row nowrap;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
    transform: scaleX(-1);
  }
  .nav-search-responsive {
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    color: #AAAAAA;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 49px;
  }
  .nav-menu-responsive {
    display: flex;
    width: 48px;
    height: 48px;
    position: absolute;
    color: #AAAAAA;
    font-size: 1.5em;
    text-align: center;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .nav-yellow-ad {
    margin-left: 0;
  }
  /*COVER ARTICLES*/
  .cover {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    width: 98%;
    height: auto;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    padding: 2px 0 3px 0;
    margin: 0 auto 0 auto;;
  }
  .cover-main {
    max-width: 100%;
    background-repeat: no-repeat;
  }
  .cover-main h1 {
    margin-top: auto;
    align-self: flex-start;
  }
  .cover-article {
    font-size: 1.2em;
    width: 100vw;
    height: 180px;
    display: flex;
    flex-flow: column nowrap;
    background-size: cover;
    background-position: center;
    margin-bottom: 8px;
    justify-self: flex-end;
  }
  .side-article {
    max-width: 100%;
    font-size: 1.2em;
  }
  .side-1, .side-2 {
    background-size: cover;
  }
  .side-1 h1, .side-2 h1 {
    font-size: 1em;
    align-self: flex-start;
    width: 80%;
    margin-top: auto;
  }
  .cover h1 {
    font-size: 1.2em;
    padding-left: 10px;
    line-height: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  /*LATEST SECTION ARTICLES*/
  .wrapper {
    margin: 0 auto;
  }
  .latest-section {
    display: flex;
    flex-flow: column nowrap;
  }
  .latest-article {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 75px;
    margin-bottom: 8px;
  }
  .latest-article div[id^="art"] {
    width: 75px;
    height: 75px;
  }
  .latest-article h2 {
    font-size: .95em;
    width: calc(100% - 75px);
    margin-top: 0;
    margin-left: 13px;
  }
  .latest-article h3 {
    width: calc(100% - 75px);
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    color: #AAAAAA;
    font-weight: normal;
    margin-top: 0;
    margin-left: 13px;
  }
  #art-1 {
    background: url(../img/latest-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-2 {
    background: url(../img/latest-7.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-3 {
    background: url(../img/latest-2.jpeg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-4 {
    background: url(../img/latest-3.jpeg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-5 {
    background: url(../img/latest-4.jpeg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-6 {
    background: url(../img/latest-5.jpeg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-7 {
    background: url(../img/latest-6.jpeg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #art-8 {
    background: url(../img/latest-8.png) center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  /* FUNDING SECTION */
  .funding-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: auto;
    margin: 0 .5vw;
  }
  .funding-box {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: auto;
    padding: 8px 0;
  }
  .no-display {
    display: none;
  }

/*DEALS SECTION*/
.deals-section {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100%-70px);
}
.deals-box {
  display: flex;
  flex-flow: column wrap;
  width: 98%;
  height: 75px;
  margin-bottom: 8px;
}
.deals-box div[id^="deals"] {
  width: 75px;
  height: 75px;
}
.deals-title h2 {
  font-size: .95em;
  width: calc(100% - 75px);
  margin-top: 0;
  margin-left: 13px;
}


.pricing {
  font-size: .7em;
  font-family: Arial, Helvetica, sans-serif;
  color: #AAAAAA;
  font-weight: normal;
  margin-left:15px;
}

#deals-1 {
  background: url(../img/deals-1.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-2 {
  background: url(../img/deals-2.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-3 {
  background: url(../img/deals-3.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-4 {
  background: url(../img/deals-4.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-5 {
  background: url(../img/deals-5.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-6 {
  background: url(../img/deals-6.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-7 {
  background: url(../img/deals-7.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#deals-8 {
  background: url(../img/deals-8.jpeg)center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

}