/* GENERAL RULES */

html body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

/* 
font-family: 'Ropa Sans', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
*/

.link-deco {
  text-decoration: none;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 110px;
}

.nav-logo {
  width: 80px;
  height: 90px;
  background: #FF4422;
  display: none;
}

.nav-ul {
  margin: 0;
  padding: 0 0 0 21px;
}

.nav-li {
  flex-flow: column nowrap;
  display: inline-flex;
  margin-right: 20px;
}

.style-txt-line1 {
  color: #AAAAAA;
  font-size: .84em;
}

.style-txt-line2 {
  color: #AAAAAA;
  font-family: 'Maven Pro', sans-serif;
  font-size: .84em;
}

.nav-line1 {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 32px;
  background: black;
  align-self: center;
  line-height: 32px;
}

.nav-line2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 48px;
  background: white;
  line-height: 48px;
}

.nav-search-icon {
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  border-left: .5px solid #EEEEEE;
  right: 0;
  color: #AAAAAA;
  font-size: 1em;
  text-align: center;
}

.nav-search-icon i {
  display: flex;
  flex-flow: row nowrap;
  line-height: 48px;
  margin-left: auto;
  margin-right: auto;
  transform: scaleX(-1);
}

.nav-search-responsive {
  display: none;
}

.nav-menu-responsive {
  display: none;
}

.nav-yellow-ad {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: auto;
  height: 30px;
  background: #ffdd33;
  text-align: left;
  line-height: 30px;
  font-size: .84em;
}

.nav-yellow-ad a {
  margin-left: 20px;
  color: black;
}

/*COVER ARTICLES*/

.cover {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 455px;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  align-content: space-around;
}

.cover h1 {
  padding-left: 10px;
  line-height: 56px;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;
}

.cover-main {
  width: 70%;
  height: 100%;
  background: url(../img/descarga.jpeg);
  background-size: cover;
  display: flex;
  align-content: flex-start;
  font-size: 3em;
}

.side-article {
  width: 29%;
  height: 50%;
  display: flex;
  align-content: flex-start;
}

.side-1 {
  background: url(../img/side1.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.side-2 {
  background: url(../img/side2.jpeg);
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.side-1 h1, .side-2 h1 {
  font-size: 1.6em;
  line-height: 28px;
  width: 80%;
}

/*WRAPPER LATEST SECTION*/

.latest-section {
  display: flex;
  flex-flow: row wrap;
}

.latest-article {
  width: 246px;
  height: 203px;
  margin: 12px;
}

.latest-article h2 {
  font-size: 1em;
}

.latest-article h3 {
  font-size: .7em;
  font-family: Arial, Helvetica, sans-serif;
  color: #AAAAAA;
  font-weight: normal;
}

.latest-article div[id^="art"] {
  width: 243px;
  height: 130px;
}

#art-1 {
  background: url(../img/latest-1.png);
  background-size: 100% auto;
}

#art-2 {
  background: url(../img/latest-7.png);
  background-size: 100% auto;
}

#art-3 {
  background: url(../img/latest-2.jpeg);
  background-size: 100% auto;
}

#art-4 {
  background: url(../img/latest-3.jpeg);
  background-size: 100% auto;
}

#art-5 {
  background: url(../img/latest-4.jpeg);
  background-size: 100% auto;
}

#art-6 {
  background: url(../img/latest-5.jpeg);
  background-size: 100% auto;
}

#art-7 {
  background: url(../img/latest-6.jpeg);
  background-size: 100% auto;
}

#art-8 {
  background: url(../img/latest-8.png);
  background-size: 100% auto;
}